{% assign content = site.data.content['contacts'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Section Contacts Info >-->
<div class="section contacts" id="section-contacts">
  <div class="content">

    <!-- title -->
    <div class="titles">
      <div class="title">{{ content.title }}</div>
      <div class="subtitle">{{ content.subtitle }}</div>
    </div>

    <!-- contact form -->
    <div class="contact-form">
      <form id="cform" accept-charset="UTF-8" action="https://getform.io/f/bwnnjxza" method="POST">
        <div class="group-val">
          <div class="label">{{ ui_text.first_name }} <strong>*</strong></div>
            <input type="text" name="name" />
        </div>
        <div class="group-val">
          <div class="label">{{ ui_text.email_address }} <strong>*</strong></div>
          <input type="email" name="email" />
        </div>
        <div class="group-val">
          <div class="label">{{ ui_text.message }} <strong>*</strong></div>
          <textarea name="message"></textarea>
          <input type="hidden" name="_gotcha" style="display:none !important">
        </div>
        <div class="group-bts text-align-center">
          <button type="submit">
            <span class="animated-button"><span>{{ ui_text.send_message }}</span></span>
            <i class="icon fas fa-chevron-right"></i>
          </button>
        </div>
      </form>
      <div class="alert-success">
        <p>Thanks, your message is sent successfully.</p>
      </div>
    </div>    

    <div class="clear"></div>
  </div>
</div>

<script>
  (function() {
    'use strict';
    
    const message_success = {{ site.contact_form.message_success | jsonify }};
    const message_error = {{ site.contact_form.message_error | jsonify }};

    window.contactForm = {
      successMessage: message_success,
      errorMessage: message_error
    };
  })();
</script>

