{% assign content = site.data.content['softwareprojects'] %}

<!-- Section Software Project -->
<div class="section service" id="section-softwareprojects">
  <div class="content">

    <!-- title -->
    <div class="titles">
      <div class="title">{{ content.title }}</div>
      <div class="subtitle color-error">{{ content.subtitle }}</div>
    </div>
    
    <!-- services items -->
    <div class="text-align-initial">
      {{ content.summary }}
    </div>

    {%- include call-to-action-whatsapp.html text="Quero eliminar prejuízos e acelerar resultados" -%}
  </div>
</div>
