{% assign content = site.data.content['about'] %}

<!-- Section About -->
<div class="section about" id="section-about">
  <div class="content">

    <!-- title -->
    <div class="titles">
      <div class="title">{{ content.title }}</div>
      <div class="subtitle">{{ content.subtitle }}</div>
    </div>

    <!-- text -->
    <div class="cols">
      <div class="col col-full mb-0">
        <div class="single-post-text">
          {{ content.text }}
        </div>
      </div>
    </div>

  </div>
</div>
